<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AmazonPrime">
<listeners>
<listener class-name="com.qa.utility.Reporting"></listener>
</listeners>
  <test thread-count="5" name="Test">
  <parameter name="Browser" value="chrome"></parameter>
  <parameter name="Url" value="https://www.primevideo.com/ref=av_flex"></parameter>
    <classes>
      <class name="com.qa.testscript1.TC_AmazonPrime"/>
      <class name="com.qa.testscript.AmazonPrime"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
